@font-face {
    font-family: 'iFoodRCTextos';
    src: url('../../assets/fonts/iFoodRCTextos-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iFoodRCTextos';
    src: url('../../assets/fonts/iFoodRCTextos-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'iFoodRCTitulos';
    src: url('../../assets/fonts/iFoodRCTitulos-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iFoodRCTitulos';
    src: url('../../assets/fonts/iFoodRCTitulos-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: bold;
}