<li class="pc-item pc-caption">
  <label>Menu</label>
  <i class="ph ph-chart-pie"></i>
</li>
<li class="pc-item">
  <a href="/pages/dashboard.html" class="pc-link">
    <span class="pc-micon">
      <i class="ph ph-projector-screen-chart"></i>
    </span>
    <span class="pc-mtext">Dashboard</span>
  </a>
</li>
<li class="pc-item">
  <a href="/pages/pagamentos.html" class="pc-link">
    <span class="pc-micon">
      <i class="ph ph-currency-dollar"></i>
    </span>
    <span class="pc-mtext">Pagamentos e Receitas</span>
  </a>
</li>
<li class="pc-item">
  <a href="/pages/estoque.html" class="pc-link">
    <span class="pc-micon">
      <i class="ph ph-database"></i>
    </span>
    <span class="pc-mtext">Estoque</span>
  </a>
</li>
<li class="pc-item">
  <a href="/pages/transacoes.html" class="pc-link">
    <span class="pc-micon">
      <i class="ph ph-chart-pie"></i>
    </span>
    <span class="pc-mtext">Transações</span></a
  >
</li>
<li class="pc-item">
  <a href="/pages/relatorios.html" class="pc-link">
    <span class="pc-micon">
      <i class="ph ph-file-arrow-down"></i>
    </span>
    <span class="pc-mtext">Relatórios</span></a
  >
</li>
<li class="pc-item">
  <a href="/pages/configuracoes.html" class="pc-link">
    <span class="pc-micon">
      <i class="ph ph-gear"></i>
    </span>
    <span class="pc-mtext">Configurações</span></a
  >
</li>
